<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>favorite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QueryServlet</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>web.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/queryTags.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryFanvs</display-name>
    <servlet-name>QueryFanvs</servlet-name>
    <servlet-class>web.QueryFanvs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryFanvs</servlet-name>
    <url-pattern>/QueryFanvs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addfav</display-name>
    <servlet-name>addfav</servlet-name>
    <servlet-class>web.addfav</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addfav</servlet-name>
    <url-pattern>/addfav</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryBycount</display-name>
    <servlet-name>queryBycount</servlet-name>
    <servlet-class>web.queryBycount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryBycount</servlet-name>
    <url-pattern>/queryBycount</url-pattern>
  </servlet-mapping>
</web-app>